[flake8]
max-line-length = 120
max-complexity = 10
exclude =
    .git,
    __pycache__,
    .pytest_cache,
    .venv,
    venv,
    env,
    build,
    dist,
    test-results,
    reports,
    *.egg-info
ignore =
    E203,
    E266,
    E501,
    W503,
    F401
per-file-ignores =
    __init__.py:F401
select = E,W,F
