# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/
.pytest_cache/

# Test outputs
reports/
logs/
screenshots/
test-results/
playwright-report/
blob-report/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
